* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: google font;
    src: url(./Real_Google/Google_Font.ttf);
}

.container-nav{
    width: 100vw;
    min-height: 7vh;
    display: flex;
    padding: 0 80px;
    padding-top: 20px;  
    vertical-align: middle;
    align-items: center;
}
.left-nav{
    min-width: fit-content;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    flex-grow: 1;
}
.right-nav{
    min-width: fit-content;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 20px;
    align-items: center;
}
.container-nav a{
    text-decoration: none;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-right: 15px;
    cursor: pointer; 
}
.menu-icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.perfil{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: 5px solid;
    border-radius: 50%;
    cursor: pointer; 
}




/* Seccion del main */

.main-container{
    max-width: 100vw;
    max-height: 86vh;
    display: block;
    text-align: center;
    margin-top: 150px;
}
.logo{
    display: flex;
    list-style: none;    
    font-size: 10.8rem;
    font-family: google font;
    justify-content: center;
    margin-bottom: 35px;
}
.input-container{
    max-width: 580px;    
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 24px;
    border: 1px solid #DFE1E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container:hover {
    box-shadow: 0 1px 10px 0 #acb1b8;
    border-color: #DFE1E5;
}
input{
    width: 470px;
    height: 40px;
    margin: 0 auto;
    border: none;
    outline: none;
    font-size: 1.8rem;
}
.icono-busqueda{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin: 0 15px;
    opacity: 0.5;
}
.micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin: 0 15px;
    cursor: pointer;
}
.main-button{
    display: inline-block;
    padding-top: 18px;
}
button{
    padding: 0 16px;
    margin: 0 4px;
    height: 34px;
    width: 145px;
    background-color: #f5f6f7;
    border: 1px solid #F8F9FA;
    border-radius: 5px;
    font-size: 1.4rem;
    color: #8c9db3;
    cursor: pointer;
}
button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #ffff;
    color: #222;
    background-color: #f8f8f8;
}

/* SECCION DEL LOGO */
.G, .g{
    color: #4285F4;
}
.o1, .e{
    color: #EA4335;
}
.o2{
    color: #FBBC05;
}
.l{
    color: #34A853;
}


/* SECCION DEL FOOTER */
footer{
    width: 100vw;
    height: 5vh;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 0 50px;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-left{
    justify-self: start;
}
.footer-right{
    justify-self: end;
}
.footer a{
    margin: 10px;
    color: #5f6368;
    text-decoration: none;
    cursor: pointer;
}